<ion-header>
  <ion-toolbar>
    <ion-title color="success" >Employ Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-auth-form
    #loginForm
    (formSubmitted)="loginUser($event)"
    [actionButtonText]="'Login'"
  ></app-auth-form>

  <ion-button color="success" expand="block" fill="clear" routerLink="/signup">
    Create a new account
  </ion-button>

  <ion-button color="success" expand="block" fill="clear" routerLink="/reset-password">
    I forgot my password
  </ion-button>
</ion-content>
